.form-inline {
  margin-top: 6px;
  margin-bottom: 6px; 
}
input[type='search'] {
  margin-right: -1;
  border-radius: 1.5rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#ricerca.btn {
  border-radius: 1.5rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: var(--VERDE_CHIARO);
  border-color: var(--VERDE_SCURO);
}
#account.nav-link {
  color: white;
  padding: 13px 8px;
}
#account.nav-link:hover {
  color: var(--VERDE_CHIARO);
}
li.show #account.nav-link {
  color: var(--VERDE_CHIARO);
}
.dropdown-toggle::after {
  vertical-align: middle;
}
.dropdown-item {
  color: var(--GRIGIO_CHIARO);
}
.dropdown-item:hover {
  color: var(--VERDE_CHIARO);
  background-color: inherit;
}

.big-padding{
  padding-top: 100px;
}