<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>xChange - Modifica dati utente</title>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	<script src="/javascript/edit_dati.js"></script>
</head>

<body>
	<div class="container border mt-3">
		<form action="." method="POST" name="aggiornamento" onSubmit="return verificaForm();">
			<div class="form-row mt-3">
				<div class="col-md-4 mb-3">
					<label for="ID_nome">Nome:</label>
					<input type="text" readonly class="form-control" id="ID_nome" value="<%= utente.nome %>" required>
					<!-- prendere i dati da scrivre in value -->
				</div>
				<div class="col-md-4 mb-3">
					<label for="ID_Cognome">Cognome:</label>
					<input type="text" readonly class="form-control" id="ID_Cognome" value="<%= utente.cognome %>" required>
					<!-- prendere i dati da scrivere in value -->
				</div>
				<div class="col-md-4 mb-3">
					<label for="ID_user">Username:</label>
					<input type="text" readonly class="form-control" id="ID_user" value="<%= utente.username %>" required>
					<!-- prendere i dati da scrivere in value -->
				</div>
			</div>
			
			<h5 class="mb-2 text-info">Per cancellare qualche campo basta lasciarlo vuoto</h5>
			<div class="form-row">
				<!-- <div class="col-md-3 mb-3">
					<label for="ID_citta">città</label>
					<input type="text" class="form-control" id="ID_citta" value="roma" required>
					
				</div> -->
				<div class="col-md-4 mb-3">
					<label for="competenze">Aggiungi competenza:</label>
					<br>
					<select name="competenze" class="selectpicker" multiple id="competenze">
						<option value="cassamortaro">cassamortaro</option>
						<option value="falegname">falegname</option>
						<option value="idraulico">idraulico</option>
						<option value="ingegnere">ingegnere</option>
						<option value="meccanico">meccanico</option>
						<option value="sarto">sarto</option>
					</select>
				</div>
				<div class="col-md-4 mb-3">
					<label for="professione">La tua professione:</label>
					<br>
					<select name="professione" class="select" id="professione">
						<option selected disabled value="">...</option>
						<option value="cassamortaro">cassamortaro</option>
						<option value="falegname">falegname</option>
						<option value="idraulico">idraulico</option>
						<option value="ingegnere">ingegnere</option>
						<option value="meccanico">meccanico</option>
						<option value="sarto">sarto</option>
					</select>
				</div>
				<div class="col-md-4 mb-3">
					<label for="ID_telefono">Telefono:</label>
					<input type="number" class="form-control" id="telefono" name="telefono">
				</div>
				<div class="col-md-4 mb-3">
					<label for="ID_posizione">Posizione:</label>
					<input type="text" class="form-control" id="posizione" name="posizione">
				</div>
			</div>

			<button class="btn btn-primary mb-3" type="submit">Aggiorna</button>
			<a class="btn btn-dark mb-3" href="/users/<%= utente.username %>">Annulla</a>
		</form>
	</div>

	<script>
		$('select').selectpicker();
	</script>
</body>

</html>