<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="/stylesheets/stile.css">
	<link rel="stylesheet" href="/stylesheets/styleHome.css">
	<title><%= title %></title>
</head>

<body>
	<!-- aiuto per l'utente  -->
	<div class="conteiner">
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
							aria-controls="collapseOne">
							C'è bisogno della carta di credito?
						</button>
					</h5>
				</div>

				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						No, il sito è basato sul concetto di baratto, il denaro non esiste!
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
							aria-expanded="false" aria-controls="collapseTwo">
							Quante richieste posso fare al giorno?
						</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						Non c'è un limite, puoi fare quante richieste vuoi a patto che non sia già in attesa un'altra richiesta per
						lo stesso utente e per la stessa competenza.
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
							aria-expanded="false" aria-controls="collapseThree">
							I miei dati sono al sicuro?
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">
						Certo! La password è criptata e i dati di contatto vengono forniti solo quando tu autorizzi.
					</div>
				</div>
			</div>
		</div>

	</div>
	<a href="/home" class="btn btn-outline-info m-3" role="button" aria-pressed="true">Torna alla home</a>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>