<!DOCTYPE html>
<html>

<head>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>xChange</title>

  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/styleHp.css">
  <link rel="stylesheet" href="/stylesheets/stile.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#navbarSupportedContent">
  <!-- navbar -------------------------------------------------------------------------------------->
  <nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" href="#Registrati">Registrati</a>
        </li>
        <li>
          <a class="nav-link" href="#Cerca">Cerca</a>
        </li>
        <li>
          <a class="nav-link" href="#Aspetta">Aspetta</a>
        </li>
      </ul>
      <button id=accedi class="btn btn-success btn-lg" onclick="location.href='login'">Accedi</button>
    </div>
  </nav>

  <!-- pulstante per registrazione---------------------------------------------------------------->
  <div class="padding-sf" style="background: url(/images/sfondo.svg);
        background-size: cover; background-repeat: no-repeat;
        background-position: center;">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8 col-12">
          <div class="text-center text-light">
            <h1 class="display-4 font-weight-bold text-white mb-3">
              Inizia a ricevere favori
            </h1>
            <button href="" id=inizia class="btn btn-light btn-lg" onclick="location.href=
                  'registrazione'">Inizia</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--presentazione sito e spiegazione  ------------------------------------------------------------->
  <div class=container id=row>
    <div id=Registrati class="row big-padding">
      <div class=col-sm-4>
        <h1 class=font-weight-bold>Registrati</h1>
        <h5 class=font-weight-light>Che bello al tempo del baratto!
          Tante volte sentiamo questa frase, ecco un modo semplice
          per provare a riapprocciarsi a questo stile di scambi.
          Il primo passo è registrarsi cliccando sul pulsante inizia in alto,
          è veloce e in un attimo vedrai il tuo account attivo e pronto all'uso

        </h5>
      </div>
      <div class=col-sm-8>
        <img src="/images/sarto.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <div id=Cerca class="row big-padding">
      <div class=col-sm-8>
        <img src="/images/ingegnere.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class=col-sm-4>
        <h1 class=font-weight-bold>Cerca</h1>
        <h5 class=font-weight-light> A questo punto non ti resta che cercare
          nella barra di ricerca in alto a destra cio di cui hai bisogno, ed
          entrare nell'account dell'utente selezionato.
          Una volta trovato l'utente che fa per voi, all'interno del suo profilo,
          troverete vari indicatori per capire la sua l'affidabilita e la sua bravura ed
          in fondo alla sua pagina troverete dei pulsanti per richiedere una specifica competenza

        </h5>
      </div>
    </div>
    <div id=Aspetta class="row big-padding">
      <div class=col-sm-4>
        <h1 class=font-weight-bold>Aspetta</h1>
        <h5 class=font-weight-light> Ora, cliccato sul bottone, non vi resta che aspettare
          che l'utente risponda, in tutti i casi vi verra notificato sul vostro Account
          la decisione presa dall'utente.
          Nel caso l'utente accetti lo scambio vi verrà notificato insieme alla sua decisione anche un suo recapito.
          A questo punto non ti resta che contattarlo!
        </h5>
      </div>
      <div class=col-sm-8>
        <img src="/images/falegname.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
  </div>
  <!-- footer della paggina ----------------------------------------------------------------------->
  <footer class="page-footer font-small indigo_new">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <!-- sezione bottoni  -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Link utili </h5>
          <ul class="list-unstyled">
            <li>
              <a href="/Faq" class="bottone_nero" role="button" aria-pressed="true">Faq</a>
            </li>
            <li>
              <a href="#" class="bottone_nero" role="button" aria-pressed="true">Privacy</a>
            </li>
            <li>
              <a href="#" class="bottone_nero" role="button" aria-pressed="true">Contattaci</a>
            </li>
          </ul>
        </div>


        <hr class="clearfix w-100 d-md-none"> <!-- sezione loghi  -->
        <div class="col-md-9 mx-auto">
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Seguici su</h5>
          <ul class="list-unstyled">
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">Facebook</i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x">Twitter </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> Google</i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">Instagram</i>
            </a>
          </ul>
        </div>
        <div class="col-md-3 mx-auto"></div>
      </div>
    </div>

    <!-- sezione Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a class="bottone_nostro" href="/"> xChange.com</a>
    </div>
  </footer>

  <script> //scollpy
    $('body').scrollspy({ target: '#navbarSupportedContent' });
    $(".navbar-collapse ul li a[href^='#'").on('click', function (e) {
      target = this.hash;
      e.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 600, function () {
        window.location.hash = target;
      });
    });
  </script>
</body>

</html>