<!DOCTYPE html>
<html lang="en">  <!-- da cepire -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
    <link rel="stylesheet" href="/stylesheets/stile.css" integrity="">
    
    <title><%= title %></title>
</head>
<body>
    <img src="https://source.unsplash.com/collection/190727/1800x200" alt="" class="responsive"> <!--cepire come far collassare immagine -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      
        <!-- titolo -->
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- home rimanda alla home-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
                </li>

                <!-- bottone generico -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Bottone_generico</a>
                </li>

                 <!-- bottone generico -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Bottone_generico</a>
                </li>

                <!-- bottone/form di ricerca -->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </ul>
            <nav class="nav navbar-expand-lg navbar-light bg-light">
                <!-- il mio account -->
               <li class="nav-item">
                    <img src="https://source.unsplash.com/collection/190727/50x50" alt="" class="rounded-circle">
               </li>
               <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Il mio account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="users/1">Profilo</a>
                        <a class="dropdown-item" href="users/1" name="punti">punti</a>
                        <a class="dropdown-item" href="#">recensioni</a>
                        <!--<div class="dropdown-divider"></div> serve per fare una riga tra le varie voci-->
                    </div>
                </li>
            </nav>
        </div>
    </nav>
    

    <div class="container">
        
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum, quam incidunt voluptatum quasi ipsa dolorem facilis alias sit dolores quisquam consequuntur laborum voluptatibus aliquid, eveniet atque sunt sapiente a.</label></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum, quam incidunt voluptatum quasi ipsa dolorem facilis alias sit dolores quisquam consequuntur laborum voluptatibus aliquid, eveniet atque sunt sapiente a.</label></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum, quam incidunt voluptatum quasi ipsa dolorem facilis alias sit dolores quisquam consequuntur laborum voluptatibus aliquid, eveniet atque sunt sapiente a.</label></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum, quam incidunt voluptatum quasi ipsa dolorem facilis alias sit dolores quisquam consequuntur laborum voluptatibus aliquid, eveniet atque sunt sapiente a.</label></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum, quam incidunt voluptatum quasi ipsa dolorem facilis alias sit dolores quisquam consequuntur laborum voluptatibus aliquid, eveniet atque sunt sapiente a.</label></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nostrum, quam incidunt voluptatum quasi ipsa dolorem facilis alias sit dolores quisquam consequuntur laborum voluptatibus aliquid, eveniet atque sunt sapiente a.</label></p>
    
    </div>
    <a href="Faq" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">Faq</a>
    <a href="users/1" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">Privacy</a>
    <a href="users/1" class="btn btn-outline-info btn-sm" role="button" aria-pressed="true">Contattaci</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><!-- da cepire -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
