<!DOCTYPE html>
<html>

<head>
	<meta charset=UTF-8>
	<meta name=viewport content="width=device-width, initial-scale= 1">
	<title>xChange - Login</title>

	<link rel=stylesheet href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel=stylesheet href="/stylesheets/styleLog.css">

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>

<body class="text-center">
	<!-- struttura accedi ------------------------------------------------------------------------------------------->
	<table align="center">
		<tr align="center">
			<td colspan=3 align="center">
				<h1 class="font-weight-light display-3">Accedi</h1>
				<hr>
			</td>
		</tr>
		<tr align="center">
			<!-- form ------>
			<td>
				<form action="login" class="" method="POST" name="login" onSubmit="return validaForm()">
					<h3 align=left class="font-weight-lighter">Inserisci i tuoi dati:</h3>
					<input type="text" name="username" class="form-control" placeholder="Username" required autofocus />
					<input type="password" name="password" class="form-control" placeholder="Password" required />
					<button class="btn btn-md btn-primary btn-block" name="loginButton" type="submit">Accedi</button>
				</form>
			</td>
			<td class=zero>
				<table border=1>
					<tr>
						<td class=zero></td>
					</tr>
				</table>
			</td>
			<td>
				<!-- accedi tramite social/funzianalita ancora non disponibile -------------------------------------------------------------->
				<h3 class="font-weight-lighter">Altrimenti</h3>
				<!-- <button id=fb class="btn mb-3">
					<ion-icon name="logo-facebook"></ion-icon> Accedi tramite Facebook
				</button> -->
				<button id=g class="btn" onclick="location.href='/auth/google'">
					<ion-icon name="logo-google"></ion-icon> Accedi tramite Google
				</button>
			</td>
		</tr>
	</table>
	<script>
		$(document).ready(function () {
			if ("<%= error %>") alert("<%= error %>");
		});
	</script>
</body>

</html>