<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">

    <title>profilo</title>

    <script>
        function publicaRecensione(e){
            // verificare e publicare
            //aggiorna media 
        }
    </script>


</head>

<body data-spy="scroll" data-target="#navbarSupportedContent">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      
        <!-- titolo -->
        <a class="navbar-brand" href="#">xChange</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- home rimanda alla home-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
                </li>

                <!-- bottone generico -->
                <li class="nav-item">
                    <a class="nav-link active" href="#profilo">Profilo</a>
                </li>

                 <!-- bottone generico -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#punti">Punti</a>
                </li>

                 <!-- bottone generico -->
                <li class="nav-item">
                    <a class="nav-link disabled" href="#recensioni">Recensioni</a>
                </li>

                <!-- bottone/form di ricerca -->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            </ul>
            <nav class="nav navbar-expand-lg navbar-light bg-light">
                <!-- il mio account -->
               <li class="nav-item">
                    <img src="https://source.unsplash.com/collection/190727/50x50" alt="" class="rounded-circle">
               </li>
               <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Il mio account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="#profilo">Profilo</a>
                        <a class="dropdown-item" href="#punti">punti</a>
                        <a class="dropdown-item" href="#recenzioni">recenzioni</a>
                        <!--<div class="dropdown-divider"></div> serve per fare una riga tra le varie voci-->
                    </div>
                </li>
            </nav>
        </div>
    </nav>
    
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div id="profilo">
            <h2>Profilo</h2>
            <img src="https://source.unsplash.com/collection/190727/100x100" alt="" class="rounded-circle" id="img_profilo">
        
    
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">Nome:</li>  
            <li class="list-group-item">Cognome:</li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item disabled" aria-disabled="true">Email:</li>
            <li class="list-group-item">professione:</li>
            <li class="list-group-item" id="comp">
                competenza:
                <span id="comp" name="muratore">
                    Muratore
                </span>
            </li>
        </ul>
        contatti:
        //bottoni per facebbok twitter e instagram//
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        <a href="edit_dati" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Modifica</a>
        </div>
        <hr>

        <hr>
        <div id="punti">
            <h2>Punti</h2>  <!-- parte sstatica che viene aggiornata da sola appenainserita una recensione -->
            // gestire punteggio
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        </div>
        <hr>

        <hr>
        <div id="recensioni">
            <h2>Recensioni</h2>
            //gestire recensioni
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor non accusantium et natus fam?</p>
        </div>

        <hr>
        <button type="button" class="btn btn-primary" onsubmit="return publicaRecensione();">Bottone_generico</button>
        <hr>
        </div>
    </div>

    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><!-- da cepire -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $('body').scrollspy({ target: '#navbar-example' });
    </script>
</body>
</html>