<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/stile.css">
	<link rel="stylesheet" href="/stylesheets/styleHome.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<title>profilo</title>
	<script>
		function caricaDati() { //colora le stelle in base al punteggio
			var stelleList = document.getElementsByName("stella")
			var mediaRound = Math.round(parseFloat("<%= utente.media %>"));
			for (var i = 1; i <= mediaRound; i++) {
				var id = '#stella' + i;
				alert(id);
				$(id).addClass('checked');
			}
			$(document).ready(function(){
			   
			   });
			}
	</script>

</head>

<body data-spy="scroll" data-target="#navbarSupportedContent" onload="caricaDati();">
	<!-- navbar ------------------------------------------------------------------------------------------>
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- navigare all'interno del profilo-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="../">Home</a>
				</li>
				<li>
					<a class="nav-link" href="#profilo">Profilo</a>
				</li>
				<li>
					<a class="nav-link" href="#punti">Punti</a>
				</li>
				<li>
					<a class="nav-link" href="#recensioni">Recensioni</a>
				</li>
				<li>
					<a class="nav-link" href="#richieste">Richieste</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>

				<button class="btn btn-danger btn-lg" href="logout">Log out</button>

			</ul>
		</div>
	</nav>
    <!-- campi account utente  ---------------------------------------------------------->
	<div class="container" id="cont">
		<div id="app_ve">
			<div id="profilo" class="big-padding">
                 <!-- dati personalli -->
				<h2>Profilo</h2>
				<img v-bind:src="'../file?docName='+utente[0].username+'&attName=immagine_profilo'" alt=""
					class="rounded-circle mb-3" id="img_profilo">
				<form v-bind:action="'/users/'+utente[0].username+'/image'" method="POST">
					<div class="form-group" name="prof">
						<input name=file type="file" class="form-control-file" id="exampleFormControlFile1">
						<button type="submit">Conferma</button>
					</div>
				</form>
				<div v-for="n in utente">
					<ul class="list-group list-group-horizontal-sm">
						<li class="list-group-item">Nome: {{n.nome}}</li>
						<li class="list-group-item">Cognome: {{n.cognome}}</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item" aria-disabled="true">Email: {{n.email}}</li>
						<li class="list-group-item">professione: {{n.professione}}</li>
						<li class="list-group-item">competenze:
							<span v-for="c in n.competenze">{{c}} </span>
						</li>
					</ul>
					<h3>{{n.descrizione}}</h3>
				</div>
				<a href="<%= utente.username %>/edit" class="btn btn-primary btn-lg active" role="button"
					aria-pressed="true">Modifica</a>

				<hr>
				<hr>
				<!-- sezione stelle-punteggio -->
				<div id="punti" class="big-padding">
					<h2>Punti</h2> 
					<input type="text" readonly text="nooo" class="btn" id="pt" value="Punteggio">
					<div id="stelle">
						<span id="stella1" name="stella" class="fa fa-star"></span>
						<span id="stella2" name="stella" class="fa fa-star"></span>
						<span id="stella3" name="stella" class="fa fa-star"></span>
						<span id="stella4" name="stella" class="fa fa-star"></span>
						<span id="stella5" name="stella" class="fa fa-star"></span>
					</div>
				</div>
				<hr>
				<hr>
                <!-- sezione recensioni -->
				<div id="recensioni" class="big-padding">
					<h2>Recensioni</h2>
					<div v-for="a in recensioni.docs">
						<div class="card text-white bg-dark mb-3 " style="max-width: 30rem;">
							<div class="card-header">recensione di {{a.recensore}} </div>
							<div class="card-body">
								<p class="card-text">{{a.sintesi}}</p>
								<p class="card-text">{{a.recensione}}</p>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<hr>
                <!-- sezione notifiche -->
				<div id=notifiche class="big-padding">
					<h2>Notifiche:</h2>
					<div class="row row-cols-1 row-cols-md-2">
						<div v-for="n in notifiche.docs">
							<div v-if="n.stato=='accettato'">   <!-- accettate -->
								<div class="card bg-success" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
							<div v-else-if="n.stato=='rifiutato'">    <!-- rifiutate -->
								<div class="card bg-danger" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
							<div v-else-if="n.stato=='attesa'">     <!-- attesa -->
								<div class="card bg-warning" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
							<div v-else>                <!-- finite -->
								<div class="card bg-success" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<hr>
				<!-- sezione richieste -->
				<div id=richieste class="big-padding">
					<h2>Richieste di scambio:</h2>
					<div class="row row-cols-1 row-cols-md-2">
						<div v-for="(x, index) in richieste.docs">
							<div v-if="x.stato=='accettato'">    <!-- accettate -->
								<div class="card" :id="'carta'+index">
									<div class="card-header">
										Richiesta per {{x.richiedente}}
									</div>
									<div class="card-body">
										<h5 class="card-title">Richiesta da parte di {{x.richiedente}} per la tua competenza:
											{{x.competenza}} </h5>
										<p class="card-text">{{x.messaggio}}</p>
										<div>
											<div class="custom-control custom-switch" :id="'swich'+index">
												<input type="checkbox" class="custom-control-input" :id="index" onclick="mostraForm(id)">
												<label class="custom-control-label" :for="index">scambio completato</label>
											</div>
										</div>
										<div :id="'form'+index" class="form_nascosta">
											<form v-bind:action="'./'+x.richiedente+'/recensioni?scambio='+x._id" method="POST">
												<br>
												<span>Lascia una recensione: </span>
												<input type="text" name="sintesi">
												<input type="number" name="voto">
												<button type="submit" class="btn btn-primary">Primary</button>
												<br>
												<textarea name="recensione" :id="index" cols="60" rows="5"></textarea>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div v-else>   <!-- in attesa -->
								<div class="card" :id="'carta'+index">
									<div class="card-header">
										Richiesta da {{x.richiedente}}
									</div>
									<div class="card-body">
										<h5 class="card-title">Richiesta da parte di {{x.richiedente}} per la sua competenza </h5>
										<p class="card-text">{{x.messaggio}}
										</p>
										<div :id="'bottoni'+index">
											<button type="button" :id="index" :name="x._id" class="btn btn-success"
												onclick="settaSI(id, name)">Accetta</button>
											<button type="button" :id="index" :name="x._id" class="btn btn-dark"
												onclick="settaNO(id, name)">Declina</button>
										</div>
										<div>
											<div class="custom-control custom-switch nascondi" :id="'swich'+index">
												<input type="checkbox" class="custom-control-input" :id="index" onclick="mostraForm(id)">
												<label class="custom-control-label" :for="index">scambio completato</label>
											</div>
										</div>
										<div :id="'form'+index" class="form_nascosta">
											<form action="">
												<br>
												<span>Lascia una recensione: </span>
												<button type="submit" class="btn btn-primary">Primary</button>
												<br>
												<textarea name="" :id="index" cols="60" rows="5"></textarea>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<hr>
		</div>
	</div>

	<script type="text/javascript" src="/javascript/profilo.js"></script>
	<script>
		function cambiaImg(url) {  
			$("#img_profilo").removeAttr("src").attr("src", url);
		}
	</script>
	<script>  // imposta lo stato dello scambio

		function settaSI(e, scambio) {
			$('#bottoni' + e).remove()
			$('#swich' + e).css("display", "block")
			$.post(document.location.href + '/scambio/' + scambio, { stato: 'accettato' })
		}

		function settaNO(e, scambio) {
			$('#carta' + e).remove()
			$.post(document.location.href + '/scambio/' + scambio, { stato: 'rifiutato' })
		}

		function mostraForm(e) {
			$('#form' + e).css("display", "block")
		}

	</script>

	<script> //scrollpy
		$('body').scrollspy({ target: '#navbarSupportedContent' });

		$(".navbar-collapse ul li a[href^='#'").on('click', function (e) {
			target = this.hash;
			e.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 600, function () {
				window.location.hash = target;
			});
		});
	</script>
</body>

</html>