<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel=stylesheet href="/stylesheets/stile.css">
	<link rel=stylesheet href="/stylesheets/styleHome.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<!-- <script type="text/javascript" src="/javascript/profilo_esterno.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><!-- da cepire -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>




	<script>

		function caricaDati() {
			const oggetto = JSON.parse(localStorage.lastname);
			var a = oggetto.punti;
			var b = oggetto.recensioni;
			var c = a % b;


			document.getElementById("pt").value = c;
			var stelleList = document.getElementsByName("stella")
			for (var i = 0; i < c; i++) {
				stelleList[i].classList.add("checked");
			}
			alert("successo DATI CARICATI");
			new Vue({
				el: '#app_v',
				data: {
					utente: [oggetto],
					ricerca:oggetto.ricerca,
					recensioni: []
				},
				mounted: function () {
					axios.post('profilo_esterno') //nostro server
						.then(response => {
							this.recensioni = response.data;
							console.log(data);
						})
						.catch(error => {
							console.log(error);
						});
				}

			})
		}
	</script>

	<title>profilo</title>
</head>

<body data-spy="scroll" data-target="#navbarSupportedContent" onload="caricaDati()">
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- home rimanda alla home-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<!-- bottone generico -->
				<li>
					<a class="nav-link" href="../">Home</a>
				</li>
				<!-- bottone generico -->
				<li>
					<a class="nav-link" href="#profilo">Profilo</a>
                </li>
                <li>
					<a class="nav-link" href="#punti">Punti</a>
                </li>
                <li>
					<a class="nav-link" href="#recensioni">Recensioni</a>
                </li>
                <li>
					<a class="nav-link" href="#competenze">Competenze</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>
				<li class="nav-item">
					<img src="https://source.unsplash.com/collection/190727/50x50" class="rounded-circle">
				</li>
				<li class="nav-item dropdown">
					<a id=account class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ciao, <%= utente%></a>
					<div class="dropdown-menu be-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="users/1">Profilo</a>
						<a class="dropdown-item" href="users/1" name="punti">punti</a>
						<a class="dropdown-item" href="#">recensioni</a>
                        <a class="dropdown-item" href="logout">Log out</a>
						<!--<div class="dropdown-divider"></div> serve per fare una riga tra le varie voci-->
					</div>
				</li>		
			</ul>
		</div>
	</nav>

	<div class="container">
		<div id="app_v">
			<div id="profilo" class = "big-padding">
				<h2>Profilo</h2>
				<img src="https://source.unsplash.com/collection/190727/100x100" alt="" class="rounded-circle mb-3" id="img_profilo">

				<div v-for="x in utente">
					<ul class="list-group list-group-horizontal-sm">
						<li class="list-group-item">Nome: {{x.nome}}</li>
						<li class="list-group-item">Cognome: {{x.cognome}}</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item disabled" aria-disabled="true">Email: {{x.email}}</li>
						<li class="list-group-item">Professione: {{x.professione}}</li>
						<li class="list-group-item" id="comp">competenze: {{x.competenze}}</li>
						<li class="list-group-item" id="comp">ricerca: {{x.ricerca}}</li>
					</ul>
					<li class="list-group-item" id="ptt" value="x.punti"> {{x.punti}}</li>
					<li class="list-group-item" id="rec" value="{{x.recensioni}}"> {{x.recensioni}}</li>
				</div>

				contatti:
				//bottoni per facebbok twitter e instagram//
				<br>
				//descrizione:
				<br>
				<!-- descrizione utente -->

				<div v-for="v in utente">
					<h5>{{v.descrizione}}</h5>
				</div>
				<hr>
				<hr>
				<!-- punteggio creazione stelle e aggiornamento -->
				<div id="punti" class = "big-padding">
					<h2>Punti</h2>

					<input type="text" readonly text="nooo" class="btn" id="pt" value="Punteggio">

					<div id="stelle">
						<span id="stella" name="stella" class="fa fa-star "></span>
						<span id="stella" name="stella" class="fa fa-star "></span>
						<span id="stella" name="stella" class="fa fa-star "></span>
						<span id="stella" name="stella" class="fa fa-star "></span>
						<span id="stella" name="stella" class="fa fa-star "></span>
					</div>

				</div>
				<hr>
				<hr>
				<!-- recenzioni udente selezionato -->
				<div id="recensioni" class = "big-padding">
					<h2>Recensioni</h2>
					<div v-for="a in recensioni">
						<div class="card text-white bg-dark mb-3 " style="max-width: 30rem;">
							<div class="card-header">{{a.sintesi}}</div>
							<div class="card-body">
								<p class="card-text">{{a.recensione}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<hr>
			<br>
			<div id = competenze class = "big-padding">
				<h5>Chiedi competenza:</h5>
				<br>
				<span v-for="z in ricerca">
					<button type="button" class="btn btn-dark mr-3">{{z.ric}}</button>
				</span>
			</div>
			<br>
			<br>

			<br>
			<br>
		</div>
	</div>
	<script>
        $('body').scrollspy({ target: '#navbarSupportedContent' });
        
        $(".navbar-collapse ul li a[href^='#'").on('click', function (e) {
            target = this.hash;
            e.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 600, function () {
                window.location.hash = target;
            });
        });
	</script>
	</body>

</html>