<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet href="/stylesheets/stile.css">
    <link rel=stylesheet href="/stylesheets/styleHome.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<title>profilo</title>
	<script>
		function caricaDati(){    
		    var stelleList = document.getElementsByName("stella")
			for (var i = 0; i < app.punteggioArr; i++) {
				stelleList[i].classList.add("checked");
			}
		}
    </script>

</head>

<body data-spy="scroll" data-target="#navbarSupportedContent">
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- home rimanda alla home-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<!-- bottone generico -->
				<li>
					<a class="nav-link" href="../">Home</a>
				</li>
				<!-- bottone generico -->
				<li>
					<a class="nav-link" href="#profilo">Profilo</a>
                </li>
                <li>
					<a class="nav-link" href="#punti">Punti</a>
                </li>
                <li>
					<a class="nav-link" href="#recensioni">Recensioni</a>
                </li>
                <li>
					<a class="nav-link" href="#richieste">Richieste</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>
				
                <button class="btn btn-danger btn-lg" href="logout">Log out</button>
						
			</ul>
		</div>
	</nav>

	<div class="container" id="cont">
        <div id="app_ve">
		    <div id="profilo" class = "big-padding">
			
				<h2>Profilo</h2>
				    <img src="https://source.unsplash.com/collection/190727/100x100" alt="" class="rounded-circle mb-3" id="img_profilo">
				<form>
					<div class="form-group" name="prof">
						<input type="file" class="form-control-file" id="exampleFormControlFile1" onchange="cambiaImg();">
						<!-- capire inserimento -->
					</div>
				</form>
                <div v-for="n in utente">
					<ul class="list-group list-group-horizontal-sm">
						<li class="list-group-item">Nome: {{n.nome}}</li>
						<li class="list-group-item">Cognome: {{n.cognome}}</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item" aria-disabled="true">Email: {{n.email}}</li>
						<li class="list-group-item">professione: {{n.professione}}</li>
						<li class="list-group-item">competenza: {{n.competenze}}</li>
					</ul>
	
					<h5>{{n.descrizione}}</h5>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor
						non accusantium et natus fam?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor
						non accusantium et natus fam?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex distinctio, enim praesentium illum dolor
						non accusantium et natus fam?</p>
					
                </div>
				<a href="1/edit" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Modifica</a>
			
				<hr>

				<hr>
				<div id="punti" class = "big-padding">
					<h2>Punti</h2> <!-- parte sstatica che viene aggiornata da sola appenainserita una recensione -->
					<!-- gestire punteggio -->
					<input type="text" readonly text="nooo" class="btn" id="pt" value="Punteggio">

					<div id="stelle"  >
		
						<span  id="stella" name="stella" class="fa fa-star"></span>
						<span  id="stella" name="stella" class="fa fa-star"></span>
						<span  id="stella" name="stella" class="fa fa-star"></span>
						<span  id="stella" name="stella" class="fa fa-star"></span>
						<span  id="stella" name="stella" class="fa fa-star"></span>
						
					</div>
				</div>
				<hr>

				<hr>
				<div id="recensioni" class = "big-padding">
					<h2>Recensioni</h2>
					<!-- gestire recensioni -->
					<div v-for="a in recensioni">
						<div class="card text-white bg-dark mb-3 " style="max-width: 30rem;">
							<div class="card-header">{{a.sintesi}}</div>
							<div class="card-body">
								<p class="card-text">{{a.recensione}}</p>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<hr>
				
				<div id = notifiche class = "big-padding">
                    <h2>Notifiche:</h2>
                    <div class="row row-cols-1 row-cols-md-2">	
                        <div v-for="n in richieste" >
							<div class="card" id="'carta">
								<div class="card-header">
								        accetato da : {{n.utente_ricevente}}
								</div>
								<div class="card-body">
									<h5 class="card-title">Richiesta da parte di {{n.utente_richiedente}} per la sua competenza </h5>
									<p class="card-text">IL signor {{n.utente_ricevente}} ha accettato la sua competenza di "cassamortaro"</p>
								</div>
							</div>
						</div>
					</div>
				</div>
										
				<hr>
				<hr>
                <div id = richieste class = "big-padding">
                    <h2>Richieste di scambio:</h2>
                    <div class="row row-cols-1 row-cols-md-2">	
                        <div v-for="(x, index) in richieste" >
							<!-- si -->
							<div v-if="x.accettato=='si'">   <!-- da verificare  -->
								<div class="card" :id="'carta'+index">
									<div class="card-header">
										richiesta : {{x.utente_richiedente}}
									</div>
									<div class="card-body">
										<h5 class="card-title">Richiesta da parte di {{x.utente_richiedente}} per la sua competenza </h5>
										<p class="card-text">IL signor {{x.utente_richiedente}} offre la sua competenza di "cassamortaro"</p>
										<div>
											<div class="custom-control custom-switch nascondi" :id="'swich'+index" >
												<input type="checkbox" class="custom-control-input" :id="index" onclick="mostraForm(id)" >
												<label class="custom-control-label" :for="index">scambio completato</label>
											</div>
										</div>
										<div :id="'form'+index" class="form_nascosta">
											<form action="" >
												<br>
												<span>Lascia una recensione: </span>
												<button type="submit" class="btn btn-primary">Primary</button>
												<br>
												<textarea name="" :id="index" cols="60" rows="5"></textarea>
											</form>
										</div>
									</div>
								</div>
							</div>
                            <div v-else>  <!-- undefined -->
								<div class="card" :id="'carta'+index">
									<div class="card-header">
										richiesta : {{x.utente_richiedente}}
									</div>
									<div class="card-body">
										<h5 class="card-title">Richiesta da parte di {{x.utente_richiedente}} per la sua competenza </h5>
										<p class="card-text">IL signor {{x.utente_richiedente}} offre la sua competenza di "cassamortaro"</p>
										<div :id="'bottoni'+index">
											<button type="button" :id="index" name="SI" class="btn btn-success" onclick="settaSI(id)">Accetta</button>
											<button type="button" :id="index"  name="NO" class="btn btn-dark" onclick="settaNO(id)">Declina</button>
										</div>
										<div>
											<div class="custom-control custom-switch nascondi" :id="'swich'+index" >
												<input type="checkbox" class="custom-control-input" :id="index" onclick="mostraForm(id)" >
												<label class="custom-control-label" :for="index">scambio completato</label>
											</div>
										</div>
										<div :id="'form'+index" class="form_nascosta">
											<form action="" >
												<br>
												<span>Lascia una recensione: </span>
												<button type="submit" class="btn btn-primary">Primary</button>
												<br>
												<textarea name="" :id="index" cols="60" rows="5"></textarea>
											</form>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
        </div>	
		<hr>
		<hr>
	</div>

	<script type="text/javascript" src="/javascript/profilo.js"></script>
	<script>

		function cambiaImg(e) {      // capire il pat
			document.getElementById("img_profilo").src = "/path/to/images/" + e + ".jpg";

		}

	</script>
	<script>
		
		function settaSI(e){
			
			alert("sto nel si"+e);
			
			$('#bottoni'+e).remove()
			$('#swich'+e).css("display","block")

		}
		function settaNO(e){
			
			alert("sto nel no");
			$('#carta'+e).remove()
			
		}

		function mostraForm(e){
			alert("mostro la form"+e);
			$('#form'+e).css("display","block")
		}
	</script>
	<script>
        $('body').scrollspy({ target: '#navbarSupportedContent' });
        
        $(".navbar-collapse ul li a[href^='#'").on('click', function (e) {
            target = this.hash;
            e.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 600, function () {
                window.location.hash = target;
            });
        });
    </script>
    </body>
</html>