<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="/stylesheets/stile.css">
	<link rel="stylesheet" href="/stylesheets/styleHome.css">
	<script src="/bower_components/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<title>profilo</title>
	<script>
		$(document).ready(function () {
			
			function caricaDati() {
				var mediaRound = Math.round(parseFloat("<%= utente.media %>"));
				for (var i = 1; i <= mediaRound; i++) {
					var id = '#stella' + i;
					$(id).addClass('checked');
				}
			}
			
			function sendRequest(elem) {
				var utente = elem.getAttribute("utente");
				var scambio = elem.getAttribute("scambio");
				axios.post("/users/" + utente + "/scambio/" + scambio + "/delete");
			}
			
			$(document).on('click', '#notifica .btn', function(events){
				sendRequest(this);
				$(this).parents('div').eq(2).remove();
				alert('Richiesta di scambio eliminata con successo');
			});
			
			$("#stelle").ready(function (events) {
				caricaDati();
			});
		});
	</script>

</head>
<body data-spy="scroll" data-target="#navbarSupportedContent">
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- navigare all'interno del profilo-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="/home">Home</a>
				</li>
				<li>
					<a class="nav-link" href="#profilo">Profilo</a>
				</li>
				<li>
					<a class="nav-link" href="#punti">Punti</a>
				</li>
				<li>
					<a class="nav-link" href="#recensioni">Recensioni</a>
				</li>
				<li>
					<a class="nav-link" href="#notifiche">Notifiche</a>
				</li>
				<li>
					<a class="nav-link" href="#richieste">Richieste</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="/ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>

				<a href="/logout"><button class="btn btn-danger btn-lg">Log out</button></a>

			</ul>
		</div>
	</nav>
    <!-- campi account utente  ---------------------------------------------------------->
	<div class="container" id="cont">
		<div id="app_ve">
			<div id="profilo" class="big-padding">
                 <!-- dati personalli -->
				<h2>Profilo</h2>
				<div v-for="n in utente">
					<img v-bind:src="'/file?docName='+n.username+'&attName=immagine_profilo'" alt="" class="rounded-circle mb-3"
						id="img_profilo" height="150" width="150">
					<form v-bind:action="'/users/'+n.username+'/image'" method="POST" enctype="multipart/form-data">
						<div class="form-group" name="prof">
							<input name=file type="file" class="form-control-file" id="exampleFormControlFile1">
							<button type="submit">Conferma</button>
						</div>
					</form>
					<ul class="list-group list-group-horizontal-sm">
						<li class="list-group-item">Nome: {{n.nome}}</li>
						<li class="list-group-item">Cognome: {{n.cognome}}</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item" aria-disabled="true">Email: {{n.email}}</li>
						<li class="list-group-item" aria-disabled="true">Telefono: {{n.telefono}}</li>
						<li class="list-group-item">professione: {{n.professione}}</li>
						<li class="list-group-item">competenze:
							<span v-for="(c, index) in n.competenze">
								<span v-if="index != n.competenze.length - 1">{{c}}, </span>
								<span v-else>{{c}}</span>
							</span>
						</li>
					</ul>
					<h3>{{n.descrizione}}</h3>
				</div>
				<a href="<%= utente.username %>/edit" class="btn btn-success btn-lg active" role="button"
					aria-pressed="true">Modifica</a>

				<hr>
				<hr>
				<!-- sezione stelle-punteggio -->
				<div id="punti" class="big-padding">
					<h2>Punti</h2>

					<div id="stelle">
						<span id="stella1" name="stella" class="fa fa-star"></span>
						<span id="stella2" name="stella" class="fa fa-star"></span>
						<span id="stella3" name="stella" class="fa fa-star"></span>
						<span id="stella4" name="stella" class="fa fa-star"></span>
						<span id="stella5" name="stella" class="fa fa-star"></span>
					</div>
				</div>
				<hr>
				<hr>
                <!-- sezione recensioni -->
				<div id="recensioni" class="big-padding">

					<h2>Recensioni</h2>
					<div v-for="a in recensioni.docs">
						<div class="card text-white bg-dark mb-3 " style="max-width: 30rem;">
							<div class="card-header">recensione di {{a.recensore}} </div>
							<div class="card-body">
								<p class="card-text">{{a.sintesi}}</p>
								<p class="card-text">{{a.recensione}}</p>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<hr>
                <!-- sezione notifiche -->
				<div id=notifiche class="big-padding">
					<h2>Notifiche:</h2>
					<div class="row row-cols-1 row-cols-md-2">
						<div v-for="n in notifiche.docs" id="notifica">
							<div v-if="n.stato=='accettato'">   <!-- accettate -->
								<div class="card bg-success" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
							<div v-else-if="n.stato=='rifiutato'">    <!-- rifiutate -->
								<div class="card bg-danger" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
							<div v-else-if="n.stato=='attesa'">     <!-- attesa -->
								<div class="card bg-warning" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
							<div v-else>                <!-- finite -->
								<div class="card bg-success" v-bind:id="n.stato">
									<div class="card-header">
										Inviata a {{n.richiesto}}
										<button class="btn btn-dark pull-right">Elimina</button>
									</div>
									<div class="card-body" >
										<h5 class="card-title">Richiesta a {{n.richiesto}} per la sua competenza: {{n.competenza}} {{n.stato}} </h5>
										<p class="card-text">{{n.messaggio}}</p>
										<p class="card-text">{{n.info}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>
				<hr>
				<!-- sezione richieste -->
				<div id=richieste class="big-padding">
					<h2>Richieste di scambio:</h2>
					<div class="row row-cols-1 row-cols-md-2">
						<div v-for="(x, index) in richieste.docs">
							<div v-if="x.stato=='accettato'">    <!-- accettate -->
								<div class="card" :id="'carta'+index">
									<div class="card-header">
										Richiesta per {{x.richiedente}}
									</div>
									<div class="card-body">
										<h5 class="card-title">Richiesta da parte di {{x.richiedente}} per la tua competenza:
											{{x.competenza}} </h5>
										<p class="card-text">{{x.messaggio}}</p>
										<div>
											<input type="button" class="btn btn-success" :id="index" value="Scambio completato"
												onclick="mostraForm(id)">
											<hr :id="'linea'+index" class="nascondi">
										</div>
										<div :id="'form'+index" class="form_nascosta">
											<form v-bind:action="'/users/'+x.richiedente+'/recensioni?scambio='+x._id" method="POST">
												<br>
												<div>Lascia una recensione: </div>
												<input type="text" name="sintesi" placeholder="Titolo">
												<input type="number" name="voto" placeholder="Voto" min="0" max="5">
												<br>
												<textarea name="recensione" :id="index" cols="60" rows="5"
													placeholder="Scrivi qui la tua recensione..."></textarea>
												<br>
												<button type="submit" class="btn btn-primary">Invia</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div v-else>   <!-- in attesa -->
								<div class="card" :id="'carta'+index">
									<div class="card-header">
										Richiesta da {{x.richiedente}}
									</div>
									<div class="card-body">
										<h5 class="card-title">Richiesta da parte di {{x.richiedente}} per la sua competenza </h5>
										<p class="card-text">{{x.messaggio}}
										</p>
										<div :id="'bottoni'+index">
											<button type="button" :id="index" :name="x._id" class="btn btn-success"
												onclick="settaSI(id, name)">Accetta</button>
											<button type="button" :id="index" :name="x._id" class="btn btn-dark"
												onclick="settaNO(id, name)">Declina</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<hr>
		</div>
	</div>

	<script type="text/javascript" src="/javascript/profilo.js"></script>
	<script>
		function cambiaImg(url) {  
			$("#img_profilo").removeAttr("src").attr("src", url);
		}
	</script>
	<script>  // imposta lo stato dello scambio

		function settaSI(e, scambio) {
			$.post(document.location.href + '/scambio/' + scambio, { stato: 'accettato' })
		}


		function settaNO(e, scambio) {
			$.post(document.location.href + '/scambio/' + scambio, { stato: 'rifiutato' })
		}

		function mostraForm(e) {
			$("#form" + e).css("display", "block");
			$("#" + e).addClass("nascondi altezza0");
			$("#linea" + e).removeClass("nascondi");
		}
	</script>
  <script>
		$('body').scrollspy({ target: '#navbarSupportedContent' });

		$(".navbar-collapse ul li a[href^='#'").on('click', function (e) {
			target = this.hash;
			e.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 600, function () {
				window.location.hash = target;
			});
		});
	</script>
</body>

</html>