<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>xChange - <%= username %></title>

	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/stylesheets/stile.css">
	<link rel="stylesheet" href="/stylesheets/styleHome.css">

	<script src="/bower_components/vue/dist/vue.min.js"></script>
	<script src="/bower_components/axios/dist/axios.min.js"></script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#navbarSupportedContent">
	<!-- navbar ------------------------------------------------------------------------------------------------------->
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- navigare all'interno del profilo-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="/home">Home</a>
				</li>
				<li>
					<a class="nav-link" href="#profilo">Profilo</a>
				</li>
				<li>
					<a class="nav-link" href="#punti">Punti</a>
				</li>
				<li>
					<a class="nav-link" href="#recensioni">Recensioni</a>
				</li>
				<li>
					<a class="nav-link" href="#competenze">Competenze</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="/ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>
				<li class="nav-item">
					<img src="/file?docName=<%= utente.username %>&attName=immagine_profilo" class="rounded-circle img-profilo">
				</li>
				<li class="nav-item dropdown">
					<a id=account class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ciao, <%= utente.username %></a>
					<div class="dropdown-menu be-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/users/<%= utente.username %>">Profilo</a>
						<a class="dropdown-item" href="/logout">Log out</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<!-- campi account utente  ---------------------------------------------------------->
	<div class="container">
		<div id="app_v">
			<div id="profilo" class="big-padding">
				<h2>Profilo</h2>
				<!-- dati personalli -->
				<div v-for="x in utente">
					<img v-bind:src="'/file?docName='+x.username+'&attName=immagine_profilo'" alt="" class="rounded-circle mb-3"
						id="img_profilo" height="150" width="150">

					<ul class="list-group list-group-horizontal-sm">
						<li class="list-group-item">Nome: {{x.nome}}</li>
						<li class="list-group-item">Cognome: {{x.cognome}}</li>
					</ul>
					<ul class="list-group">
						<li class="list-group-item">Professione: {{x.professione}}</li>
						<li class="list-group-item">competenze:
							<span v-for="(c, index) in x.competenze">
								<span v-if="index != x.competenze.length - 1">{{c}}, </span>
								<span v-else>{{c}}</span>
							</span>
						</li>
						<li class="list-group-item">punti ricevuti: {{x.punti}}</li>
						<li class="list-group-item">recensioni ricevute: {{x.recensioni}}</li>
					</ul>
				</div>
				<br>
				<br>
				<!-- sezione descrizione utente -->
				<!-- <div v-for="v in utente">
					<h5>{{v.descrizione}}</h5>
				</div> -->
				<hr>
				<hr>
				<!-- sezione punteggio creazione stelle e aggiornamento -->
				<div id="punti" class="big-padding">
					<h2>Punti</h2>
					<div id="stelle">
						<span id="stella1" name="stella" class="fa fa-star"></span>
						<span id="stella2" name="stella" class="fa fa-star"></span>
						<span id="stella3" name="stella" class="fa fa-star"></span>
						<span id="stella4" name="stella" class="fa fa-star"></span>
						<span id="stella5" name="stella" class="fa fa-star"></span>
					</div>

				</div>
				<hr>
				<hr>
				<!-- sezione recenzioni utente selezionato -->
				<div id="recensioni" class="big-padding">
					<h2>Recensioni</h2>
					<div class="row row-cols-1 row-cols-md-2">
						<div v-for="a in recensioni.docs">
							<div class="card text-white bg-dark" style="max-width: 30rem;">
								<div class="card-header">
									<span>recensione di {{a.recensore}}</span>
									<span v-for="index in 5" :key="index" class="pull-right">
										<span v-if="5-a.voto < index" name="stella" class="fa fa-star checked"></span>
										<span v-else name="stella" class="fa fa-star"></span>
									</span>
								</div>
								<div class="card-body">
									<h5 class="card-title">{{a.sintesi}}</h5>
									<p class="card-text">{{a.recensione}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<hr>
			<br>
			<div id=competenze class="big-padding">
				<!--sezione per chiedere competenze ad utente -->
				<h5>Chiedi competenza:</h5>
				<br>
				<span v-for="v in utente">
					<span v-for="z in ricerca">
						<button type="button" class="btn btn-dark mr-3" data-toggle="modal" v-bind:data-target="'#'+z"
							name="z._id">{{z}}
						</button>
						<div class="modal fade" :id="z" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Compila un breve messaggio da
											mandare all'utente:</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form v-bind:action="'/users/'+v.username+'/scambi'" method="POST">
										<div class="modal-body">
											<div class="form-group">
												<label for="message-text" class="col-form-label">Messaggio:</label>
												<textarea class="form-control" id="message-text" name="messaggio"></textarea>
												<label for="competenza" class="col-form-label">Competenza:</label>
												<input type="text" readonly name="competenza" v-bind:value="z">
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
											<button type="submit" class="btn btn-primary">invia</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</span>
				</span>
			</div>
			<br>
			<br>
			<br>
			<br>
		</div>
	</div>

	<script>
		$(document).ready(function () {
			var app = new Vue({
				el: '#app_v',
				data: {
					utente: [],
					ricerca: [],
					recensioni: []
				},
				mounted: function () {
					var baseUrl = document.location.href.substr(-1) == '/' ? document.location.href.replace(/.$/, "") : document.location.href;
					axios.get(baseUrl + '/dati')
						.then(response => {
							this.utente = [response.data];
							this.ricerca = response.data.competenze;
							console.log(data);
						})
						.catch(error => {
							console.log(error);
						});
					axios.get(baseUrl + '/recensioni')
						.then(response => {
							this.recensioni = response.data;
							console.log(data);
						})
						.catch(error => {
							console.log(error);
						});
				}
			})
			function caricaStelle() {
				var mediaRound = Math.round(parseFloat("<%= media %>"));
				for (var i = 1; i <= mediaRound; i++) {
					var id = '#stella' + i;
					$(id).addClass('checked');
				}
			}

			$("#stelle").ready(function (events) {
				caricaStelle();
			});
		});
	</script>
	<script> //scrollpy
		$('body').scrollspy({ target: '#navbarSupportedContent' });

		$(".navbar-collapse ul li a[href^='#'").on('click', function (e) {
			target = this.hash;
			e.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 600, function () {
				window.location.hash = target;
			});
		});
	</script>
</body>

</html>