<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>xChange - Ricerca</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="/stylesheets/stile.css">
	<link rel="stylesheet" href="/stylesheets/styleHome.css">

	<script src="/bower_components/vue/dist/vue.min.js"></script>
	<script src="/bower_components/axios/dist/axios.min.js"></script>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#navbarSupportedContent">
	<!-- navbar ------------------------------------------------------------------------------------------>
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- home rimanda alla home-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li>
					<a class="nav-link" href="/home">Home</a>
				</li>

			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>
				<li class="nav-item">
					<img src="/file?docName=<%= utente.username %>&attName=immagine_profilo" class="img-profilo rounded-circle">
				</li>
				<li class="nav-item dropdown">
					<a id=account class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ciao, <%= utente.username %></a>
					<div class="dropdown-menu be-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/users/<%= utente.username %>">Profilo</a>
						<a class="dropdown-item" href="/logout">Log out</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<!-- risultato ricerca  ---------------------------------------------------------------------------------------------->
	<div class="container">
		<h2>Risultato della ricerca:</h2>
		<div id="app_vue">
			<div v-for="x in users">
				<div class="card mb-3" style="max-width: 540px;">
					<div class="row no-gutters">
						<div class="col-md-4">
							<img v-bind:src="'/file?docName='+x.username+'&attName=immagine_profilo'" class="card-img">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<p>
									<a class="card-title card-link" v-bind:href="'/users/'+x.username">{{x.username}}</a>
								</p>
								<p class="card-text">{{x.nome}}
									<span v-for="index in 5" :key="index" class="pull-right">
										<span v-if="5-x.media < index" name="stella" class="fa fa-star checked"></span>
										<span v-else name="stella" class="fa fa-star"></span>
									</span>
								<div>
									<span v-for="(c, index) in x.competenze">
										<span v-if="index != x.competenze.length - 1">{{c}}, </span>
										<span v-else>{{c}}</span>
									</span>
								</div>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/javascript/ricerca.js"></script>
	<script>
		$('body').scrollspy({ target: '#navbar-example' });
	</script>
</body>

</html>