<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" integrity="">
	<link rel="stylesheet" href="/stylesheets/stile.css">
	<link rel="stylesheet" href="/stylesheets/styleHome.css">
	<title>ricerca</title>
</head>

<body data-spy="scroll" data-target="#navbarSupportedContent">
	<nav class="navbar navbar-expand-md navbar-dark be-dark fixed-top">
		<a class="navbar-brand" href="#"><img src="/images/logoScrittaBianca.svg" height="30" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- home rimanda alla home-->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<!-- bottone generico -->
				<li>
					<a class="nav-link" href="../">Home</a>
				</li>
				
			</ul>
			<ul class="navbar-nav">
				<!-- bottone/form di ricerca -->
				<div class="nav-item">
					<form class="form-inline" action="ricerca" method="GET">
						<input class="form-control" name="input" type="search" placeholder="Cerca" aria-label="Cerca">
						<button id=ricerca class="btn btn-success mr-3" type="submit">Cerca</button>
					</form>
				</div>
				<li class="nav-item">
					<img src="https://source.unsplash.com/collection/190727/50x50" class="rounded-circle">
				</li>
				<li class="nav-item dropdown">
					<a id=account class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ciao, <%= utente%></a>
					<div class="dropdown-menu be-dark" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="users/1">Profilo</a>
						<a class="dropdown-item" href="users/1" name="punti">punti</a>
						<a class="dropdown-item" href="#">recensioni</a>
                        <a class="dropdown-item" href="logout">Log out</a>
						<!--<div class="dropdown-divider"></div> serve per fare una riga tra le varie voci-->
					</div>
				</li>
			</ul>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<h2>Risultato della ricerca:</h2>
		<div id="app_vue">
			<!--promo-->
			<div v-for="x in users">
				<div class="card mb-3" style="max-width: 540px;">
					<!--da far diventare un bottone-->
					<div class="row no-gutters">
						<div class="col-md-4">
							<img src="https://source.unsplash.com/collection/190727/100x50" class="card-img">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<form method="POST" name="ut">
									<a class="card-title btn" href="profilo_esterno" onclick="daiDati();">{{x.nome}} </a>
									<p class="card-text">{{x.cognome}}</p>
									<p class="card-text"><small class="text-muted">{{x.email}}</small></p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--da vedere ancora-->
		<nav aria-label="...">
			<ul class="pagination">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item active" aria-current="page">
					<a class="page-link" href="#">2
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">3</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!-- da cepire -->
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascript/ricerca.js"></script>
	<script>
		function daiDati() {
			if (typeof (Storage) !== "undefined") {
				localStorage.clear();
				var o = {
					"nome": "lorenzo",
					"cognome": "catini",
					"email": "ahdfas@sfbfk.it",
					"professione": "informatico",
					"competenze": "cassamortaro",
					"username":"maramuuuu",
					"ricerca": [{"ric":"cuoco"},
					            {"ric":"idraulico"}],
					"punti": 25,
					"recensioni": 7,
					"descrizione": "sjabvbfvbfjsbkdvbsidfbbvebdbsjkdhskhlaiskfahskdfjhaslkvbeibviaebvraevbraiebvsubva"
				}
				var a = JSON.stringify(o);
				localStorage.setItem("lastname", a);
				alert("successo DATI INVIATI");
				alert(users.x.nome);
			} else {
				alert("errore nel local storage");
			}
		}
	</script>
	<script>
		$('body').scrollspy({ target: '#navbar-example' });
	</script>
</body>

</html>